<button id="add-photo-button">+</button>

<div id="modal-backdrop" class="hidden"></div>
<div id="add-photo-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h1>Add a workout</h1>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
        <div class="exercise-input">
          <label for="exercise-input-label">
            <center><h1>Exercise</h1></label>
          <input type="text" id="exercise"></input>
        </center>
          <br>
        </div>
      <div class="max-input">
        <label for="max-input-label">
          <center><h1>1 Rep Max</h1></label>
        <input type="text" id="weight-value"></input>
      </center>
        <br>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">OK</button>
    </div>

  </div>
</div>
</div>
