<header>
  <h1 class="site-title">Workout Tracker</h1>
</header>

<nav class="navbar">
  <ul class="navlist">
    <li class="navitem"><a href="/">Home</a></li>
    <li class="navitem"><a href="/people">People</a></li>
    <li class="navitem right"><a href="https://www.t-nation.com/workouts/531-how-to-build-pure-strength">More Info</a></li>
  </ul>
</nav>
